<% layout("layout") %>

<h1>Dashboard</h1>

<ul>
  <li>OS Abertas: <strong><%= counters.osAbertas %></strong></li>
  <li>OS Andamento: <strong><%= counters.osAndamento %></strong></li>
  <li>OS Pausadas: <strong><%= counters.osPausada %></strong></li>
  <li>OS Concluídas: <strong><%= counters.osConcluida %></strong></li>
  <li>Compras Pendentes: <strong><%= counters.comprasPendentes %></strong></li>
  <li>Itens no Estoque: <strong><%= counters.itensEstoque %></strong></li>
</ul>
