<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title><%= title || "Manutenção Campo do Gado" %></title>
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>

  <%- include("partials/header") %>

  <main class="container">
    <%- include("partials/alerts") %>
    <%- body %>
  </main>

  <%- include("partials/footer") %>

</body>
</html>
