<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title><%= (typeof title !== "undefined" ? title : "Manutenção Campo do Gado") %></title>

  <link rel="stylesheet" href="/css/app.css" />
</head>
<body class="app">

  <%- include("partials/header") %>

  <main class="container">
    <%- include("partials/alerts") %>

    <!-- Aqui entra o conteúdo da página (login, dashboard, etc.) -->
    <%- body %>
  </main>

  <%- include("partials/footer") %>

</body>
</html>
